<div
  class="navbar-container d-flex flex-wrap justify-content-between align-items-center px-3"
>
  <div class="title">Yazan Elyateem</div>
  <ul
    class="d-flex flex-row justify-content-between align-items-center flex-wrap w-25 my-2"
  >
    <li id="about" class="clickable" (click)="openTab($event)">About</li>
    <li id="projects" class="clickable" (click)="openTab($event)">Projects</li>
    <li id="contact" class="clickable" (click)="openTab($event)">Contact</li>
    <img
      class="theme-switch clickable"
      [src]="currentImageSrc"
      id="theme-switch"
      (click)="switchTheme()"
      alt="switch theme button"
    />
  </ul>
</div>
<ng-container>
  <div class="container">
    <app-tab
      *ngIf="listOfTabs.get('about') === true"
      [tabId]="'about'"
      [tabTitle]="'About me'"
      [tabContent]="getTabContent('about')"
      (tabClosed)="closeTab($event)"
    >
    </app-tab>
    <app-tab
      *ngIf="listOfTabs.get('projects') === true"
      [tabId]="'projects'"
      [tabTitle]="'My Projects'"
      [tabContent]="getTabContent('projects')"
      (tabClosed)="closeTab($event)"
    >
    </app-tab>
    <app-tab
      *ngIf="listOfTabs.get('contact') === true"
      [tabId]="'contact'"
      [tabTitle]="'Contact me'"
      [tabContent]="getTabContent('contact')"
      (tabClosed)="closeTab($event)"
    >
    </app-tab>
    <app-tab
      *ngIf="listOfTabs.get('gamer') === true"
      [tabId]="'gamer'"
      [tabTitle]="'Yup I am a gamer'"
      [tabContent]="getTabContent('gamer')"
      (tabClosed)="closeTab($event)"
    >
    </app-tab>
  </div>
</ng-container>
